# **Ad-hoc analysis over semantic model**

In [1]:
%%sql
SELECT t.Year, t.`Month Number`, t.`Month Name`, SUM(f.Profit) AS Profit
FROM Time AS t
LEFT JOIN Financials AS f
ON t.Date = f.Date
GROUP BY t.Year, t.`Month Number`, t.`Month Name`
ORDER BY t.Year, t.`Month Number`

StatementMeta(, 23eb707c-1d21-465f-b228-742867fc1da4, 2, Finished, Available)